/* .form-area,
.preview-area,
.table-area
{
    margin-top: 50x;
    text-align: center;
}
.add-background{
    background-color:yellow;
    padding:10pxl;
}
h1{
    color:red;
}
p{
    color:brown;
} */

body{
    text-align: center;
}

/* button{
    padding: 10px;
    border: solid 1px var(red);
    background: var(red);
    color:black;
    border-radius: 8px;
  } */
  
  h1{
      text-transform:uppercase;
  }

  .mar-top90 {
    margin-top: 80px;
}

.form-group {
    /* margin-bottom: 5px; */
    margin-bottom: 1.3%;
}
.container-fluid{
    background-color: #555
}
.content {
    background: #d7d7d7;
    padding: 1px 20px 10px!important;
    border-radius: 8px;
    border: 1px solid #ddd;
    position: absolute;
    width: 95%;
    height: 94vh;
    /* margin-right: 2px;
    margin-left: 2px; */
}

.banner-con{
    color: #fbfbff !important;
    margin: 9px 0px 5px;
    background-color: #221d61;
    border-radius: 5px;
    padding: 8px 8px 25px 8px;
    font-size: 16px;
    /* box-shadow: 0 1rem 1.25rem 0 rgb(22 75 195 / 8%),
     0 -0.25rem 1.5rem rgb(228 206 239 / 0%) inset, 
     0 0.75rem 0.5rem rgb(255 255 255 / 22%) inset, 
    0 0.25rem 0.5rem 0 rgb(180 70 207 / 8%) inset; */
}

.searchText {
    width: 100%;
    margin: 10px 0;
} 
.searchText > input {
    width: 98%;
    border: none;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    margin: none;
} 

.searchText > button {
    width: 20%;
    padding: 10px;
    border: 1px solid lightblue;
    position: relative;
    float: right;
    top: -36px;
    border-radius: 5px
} 

.col-lg-3{
    width: 25% !important;

}
.col-sm-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.33333333%;
    float: left
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control{
    display: block;
    width: 75%;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border:1px solid #ccc ;
    border-radius: 4px ; 

}